/* default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* variables  */
:root {
  --background: black;
  --text-color: #fff;
  --highlight-color: #63ff69;
  --secondary-color: #000;
  --alpha-color: rgba(0, 0, 0, 0.5);
  --shadow: 0 10px 40px rgb(35, 43, 38);
  --customn: #0c1126;
  --searchbox: #123f3b;
  --text-color2: #8092a1;
  --text-color3: #2857a4;
  --logo: #f5c518;
  --card: rgb(36, 33, 33);
}

/** body */
body {
  overflow-y: auto;
  background-color: var(--background);
  color: var(--text-color);
}

/** NavBar */
/* Header */
.header {
  height: 10vh;
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo  */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;

}
.logo a {
  text-decoration: none;
  color: var(--customn);
  font-size: 1.4rem;
  font-weight: 900;
  margin-left: 20px;
  background-color: var(--logo);
  border-radius: 5px;
  padding: 1px 10px;
}


.favourites {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 700;
  margin-left: 30px;
  text-decoration: none;
}

/* * search box for the navbar */
.container-searchbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
}
#searchBox {
  background-color: var(--searchbox);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 1%;
  margin-right: 15%;
}
.search {
  padding: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--searchbox);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}
.search input {
  font-size: 1.1rem;
  padding: 0.6rem;
  padding-left: 0.1rem;
  background-color: transparent;
  width: 80%;
  height: 0.7rem;
  border: 0;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  color: white;
}
.search input:focus {
  outline: none;
}
.search i {
  color: var(--text-color);
}

/* * auto complete section to render the searched movies */
.autocomplete {
  position: absolute;
  /* border: 1px dashed white; */
  top: 50px;
  width: 51.5%;
  background-color: var(--searchbox);
  z-index: 99;
  border-radius: 0 0 5px 5px;
  padding: 13px 0;
}
.autocomplete ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-right: 10px;
  margin: 0;
  padding-left: 10px;
}
.autocomplete ul li {
  text-decoration: none;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding: 10px 10px;
}
.autocomplete ul li:hover {
  border-radius: 5px;
  background-color: #8092a1;
}
.autocomplete ul li a {
  text-decoration: none;
  color: white;
  width: 60%;
  text-decoration: none;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding: 10px 10px;
}
.autocomplete ul li button {
  border: none;
  border-radius: 4px;
  padding: 2px;
  width: auto;
  /* font-weight: 700; */
  color: var(--text-color3);
}
.list-poster {
  height: 70px;
  margin-right: 10px;
}

.list-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.profile-photo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  margin-left: 0.8rem;
}

.bell {
  color: #e7e7e6;
}
hr {
  margin: 0.5rem;
}

/* carousel */
#carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  overflow-y: hidden;
}
#carousel a {
  margin: 10px;
  width: 300px;
  transition: width 0.5s;
}
#carousel a img {
  width: 100%;
}
#carousel a:hover {
  width: 350px;
  box-shadow: var(--shadow);
}

/* ? for the movies detail page */

#movie-detail-container {
  margin: 0;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.movie-nav {
  position: relative;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.inner-container {
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.element-container {
  padding: 5px;
  font-size: small;
}
.element-container p {
  border-right: 1px solid #8092a1;
  padding-right: 10px;
}

/* movie title */

.title-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.title {
  position: relative;
  width: auto;
  font-size: 2.5rem;
  font-weight: 700;
}
.title-inner-container {
  position: relative;
  margin-top: -25px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}
.title-inner-container .element-container p {
  font-size: 0.75rem;
  color: var(--text-color);
  font-weight: 300;
}
.title-container .fav {
  border: none;
  border-radius: 4px;
  padding: 2px;
  width: 100%;
  font-weight: 700;
  color: var(--text-color3);
}

/* IMDb rating */

.imdb-ratings .inner-container {
  margin-right: 10px;
  text-align: center;
  /* border: none; */
}
.imdb-ratings .inner-container p {
  border: none;
  /* font-size: 1rem; */
}

p.r-title {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0;
}
p.r-val {
  font-size: large;
  margin-top: 0;
}
.highlight {
  color: var(--highlight-color);
}
/* movie details */
.poster-details-container {
  display: flex;
  margin: 0;
  justify-content: flex-start;
}

.movie {
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.movie .genre {
  display: flex;
  justify-content: flex-start;
}

.genre .element-container {
  margin: 5px;
  display: flex;
  justify-content: center;
}
.genre .element-container p {
  margin-top: -3px;
  margin-left: 8px;
  padding-left: 8px;
  height: 1.5rem;
  border: 1.5px solid #8092a1;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.plot {
  padding: 10px 12px 0;
}
.details-crew {
  padding: 10px 2% 0;
}
.text-highlight {
  color: var(--text-color3);
  font-weight: 800;
  width: 100px;
  font-size: 17px;
  padding-right: 20px;
}
.ratings {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.rating-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 10px;
  margin-left: 20px;
}
.rating-movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  border: 1.5px solid #8092a1;
}
.rating-movies h5 {
  color: var(--text-color3);
}
.rating-movies p {
  margin: 0;
}

/* ? latest movies section */

#other-movies {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 20px;
}

.latest-Movies {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.card-container {
  display: inline-block;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  overflow: auto;
  white-space: nowrap;
  overflow-x: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.card-container::-webkit-scrollbar {
  display: none;
}
.movie-card {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  /* border: 1px dashed white; */
  margin: 0 10px;
  /* background-color: var(--card); */
  border-radius: 4px;
  overflow: hidden;
}

.movie-card:hover {
  box-shadow: var(--shadow);
}

.movie-card img {
  height: 250px;
  width: 200px;
  margin-top: 10px;
  border-radius: 4px 4px 0 0;
}
.card-ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 99%;
  padding: 2% 7%;
  font-size: 18px;
}
.movie-card p {
  margin-bottom: 0;
}
.card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2% 7%;
  font-size: 16px;
}
.card-watchlist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2% 7%;
  font-size: 16px;
  margin-bottom: 10px;
}
.card-watchlist button {
  border: none;
  border-radius: 4px;
  padding: 2px;
  width: 100%;
  font-weight: 700;
  color: var(--text-color3);
}

/* ? favourate section */
#fav-section {
  margin: 10px;
  padding-left: 25px;
}

.fav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  /* display: inline-block;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start; */
  /* flex-wrap: wrap; */
  overflow: auto;
  white-space: nowrap;
  overflow-x: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.fav-container::-webkit-scrollbar {
  display: none;
}
.fav-container a {
  text-decoration: none;
  color: var(--text-color);
}

#favourites-detail-container{
  padding-left: 30px;

}
.fav-card {
  width: 200px;
  height: 100px;
  border: 1px solid whitesmoke;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
}
.fav-card p {
  margin-bottom: 0;
  text-wrap: wrap;
}
.fav-card:hover {
  box-shadow: var(--shadow);
}

